* {
     margin: 0; 
}
.logo {
    font-size: 24px;

}
.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    color: aliceblue;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 120px;

}
.one {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    color: aliceblue;
    
}
button{
    background-color: #3882f6;
    width: 80px;
    border-radius: 5px;
    color: #ffffff;
    height: 20px;
}
.one img {
    height: 350px;
    width: 700px;
    padding-right: auto;
    margin: 20px;
}

.second {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    color: black;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-evenly;
}

.info img {
    display: flex;
    width: 300px;
    height: 200px;
    border-radius: 5px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}
.text {
    display: flex;
    flex: 0 1 0;
    width: 300px;
    margin-bottom: 50px;

}
.three {
    display: flex;
    flex-direction: column;
    padding: 120px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    
}
.three div, p {
    color: #1f2937;
}
p{
    text-align: end;
}
.four {
    background-color: #2121dd;
    color: #ffffff;
    margin: 120px;
    border-radius: 5px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 1;
    width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

}
.four button{
    display: flex;
    align-self: center;
    margin-right: 12%;
   
}
.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 17%;
}








.footer {
    background-color: #1f2937;
    color: #ffffff;
    text-align: center;
    padding: 20px;

}

h2 {
    padding: 15px;

}